<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
            <div class="card-header">
                <strong>Edición de Libro: {{ object }}</strong>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form id="form_edicion"  action="{% url 'libro:editar_libro' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">

                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal" >Cancelar</button>
                <button id="boton_edicion" class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>        
    </div>
</div>